<div class="container">
    <div class="imagen">
        <img id="imagenPrincipal" src="img/producto.jpg" alt="">
    </div>

    <div class="caracteristicas">
        <input type="hidden" id="referencia" value="1234567890">
        <p class="card-title">xiaomi redmi note 13 pro</p>
        <p class="card-des"><i class="fa-solid fa-code"></i> Sistema: Windows 11</p>
        <p class="card-des"><i class="fa-solid fa-microchip"></i> Memoria: 256 GB SSD</p>
        <p class="card-des"><i class="fa-solid fa-microchip"></i> Ram: RAM: 8 GB</p>
        <p class="card-des"><i class="fa-solid fa-microchip"></i> Procesador: AMD R3</p>
        <p class="card-des"><i class="fa-solid fa-microchip"></i> Tarjta de video: AMD Radeon™ Graphics</p>
        <p class="card-des"><i class="fa-solid fa-chart-line"></i> Dimensiones: 32,4 x 22,59 x 1,99 cm</p>
        <button type="button" id="contacto" class="btn"><a href="#">Contactar</a></button>
        <button type="button" id="enviar" class="btn"><a href="#" >Enviar</a></button>
    </div>

    <div class="imagenes">
        <img src="img/producto.jpg" alt="">
        <img src="img/producto2.jpg" alt="">
        <img src="img/producto3.jpg" alt="">
        <img src="img/producto4.jpg" alt="">
        <img src="img/producto5.jpg" alt="">
    </div>

    <div class="sugerencias">
        <h1>Productos Similares</h1>
        <div class="productos-sugerencias">
            <div class="card">
                <div class="card-image-container">
                    <img src="img/sugerencia1.jpg" alt="">
                </div>
                <p class="card-title">fumador</p>
            </div>
            <div class="card">
                <div class="card-image-container">
                    <img src="img/sugerencia2.jpg" alt="">
                </div>
                <p class="card-title">delincuente</p>
            </div>
            <div class="card">
                <div class="card-image-container">
                    <img src="img/sugerencia3.jpg" alt="">
                </div>
                <p class="card-title">maliosa</p>
            </div>
            <div class="card">
                <div class="card-image-container">
                    <img src="img/sugerencia4.jpg" alt="">
                </div>
                <p class="card-title">wild breaker</p>
            </div>
        </div>
    </div>
</div>