<table class='table'>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Marca</th>
            <th>Referencia</th>
            <th>Agotado</th>
            <th>Disponible</th>
        </tr>
    </thead>
    <tbody>
        <tr scope='row'>
            <td>xiaomi redmi nite 13 pro</td>
            <td>telefono</td>
            <td>xiaomi</td>
            <td>redmi1</td>
            <td><button class="btn agotado">Agotado <i class="fa-solid fa-lock"></i></button></td>
            <td><button class="btn disponible">Disponible <i class="fa-solid fa-lock-open"></i></button></td>
        </tr>

        <tr scope='row'>
            <td>xiaomi redmi nite 13 pro</td>
            <td>telefono</td>
            <td>xiaomi</td>
            <td>redmi2</td>
            <td><button class="btn agotado">Agotado <i class="fa-solid fa-lock"></i></button></td>
            <td><button class="btn disponible">Disponible <i class="fa-solid fa-lock-open"></i></button></td>
        </tr>

        <tr scope='row'>
            <td>xiaomi redmi nite 13 pro</td>
            <td>telefono</td>
            <td>xiaomi</td>
            <td>redmi3</td>
            <td><button class="btn agotado">Agotado <i class="fa-solid fa-lock"></i></button></td>
            <td><button class="btn disponible">Disponible <i class="fa-solid fa-lock-open"></i></button></td>
        </tr>

        <tr scope='row'>
            <td>xiaomi redmi nite 13 pro</td>
            <td>telefono</td>
            <td>xiaomi</td>
            <td>redmi4</td>
            <td><button class="btn agotado">Agotado <i class="fa-solid fa-lock"></i></button></td>
            <td><button class="btn disponible">Disponible <i class="fa-solid fa-lock-open"></i></button></td>
        </tr>

        <tr scope='row'>
            <td>xiaomi redmi nite 13 pro</td>
            <td>telefono</td>
            <td>xiaomi</td>
            <td>redmi5</td>
            <td><button class="btn agotado">Agotado <i class="fa-solid fa-lock"></i></button></td>
            <td><button class="btn disponible">Disponible <i class="fa-solid fa-lock-open"></i></button></td>
        </tr>
    </tbody>
</table>