<div class="card">
    <div class="card-image-container">
        <img src="img/cel1.jpg" alt="">
    </div>
    <p class="card-title">Cel 1</p>
</div>

<div class="card">
    <div class="card-image-container">
        <img src="img/cel2.jpg" alt="">
    </div>
    <p class="card-title">CEL 2</p>
</div>

<div class="card">
    <div class="card-image-container">
        <img src="img/cel3.jpg" alt="">
    </div>
    <p class="card-title">CEL 3</p>
</div>

<div class="card">
    <div class="card-image-container">
        <img src="img/cel4.jpg" alt="">
    </div>
    <p class="card-title">CEL 3</p>
</div>

<div class="card">
    <div class="card-image-container">
        <img src="img/cel5.jpg" alt="">
    </div>
    <p class="card-title">CEL 3</p>
</div>

<div class="card">
    <div class="card-image-container">
        <img src="img/cel6.jpg" alt="">
    </div>
    <p class="card-title">CEL 3</p>
</div>

<div class="card">
    <div class="card-image-container">
        <img src="img/cel7.jpg" alt="">
    </div>
    <p class="card-title">CEL 3</p>
</div>

<div class="card">
    <div class="card-image-container">
        <img src="img/cel8.jpg" alt="">
    </div>
    <p class="card-title">CEL 3</p>
</div>